[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
ipdb = "0.13.9"
flask = "*"
flask-sqlalchemy = "*"
Werkzeug = "2.2.2"
flask-migrate = "*"
flask-restful = "*"
flask-cors = "*"
faker = "*"
bcrypt-flask = "*"
sqlalchemy-serializer = "*"
psycopg2-binary = "*"
jwt = "*"
cloudinary = "*"
pytest = "*"
pyjwt = "*"
requests = "*"
paypalrestsdk = "*"

[dev-packages]

[requires]
python_version = "*"
